    <div class="container mt-12">
      <div class="col-md-12">
        <form method="post" action="/product-register">
          <div class="mb-3">
            <label for="nama_produk" class="form-label">Nama Produk</label>
            <input
              type="text"
              class="form-control"
              id="inputNamaProduk"
              name="nama_produk"
              required
            />
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label">Harga</label>
            <input
              type="number"
              class="form-control"
              id="inputHarga"
              name="harga"
              required
            />
          </div>
          <div class="mb-3">
            <label for="deskripsi" class="form-label">Deskripsi Produk</label>
            <input
              type="text"
              class="form-control"
              id="inputDeskripsi"
              name="deskripsi"
              required
            />
          </div>
          <div class="mb-3">
            <label for="nama_file" class="form-label">nama file</label>
            <input
              type="text"
              class="form-control"
              id="inputFile"
              name="nama_file"
              value="produk1"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
